In [1]:
3+2 #Shift+Enter

5

In [2]:
import xlwings

In [3]:
xlwings.sheets

Sheets([<Sheet [통합 문서1]Sheet1>])

In [4]:
xlwings.Range("A1")

In [5]:
xlwings.Range("A1").expand()

In [8]:
total_rows = xlwings.Range("A1").expand().value
total_rows

[['mssage', 'browser'],
 ['첫 로그', 'chrome'],
 ['두번째 로그', 'chrome'],
 ['세번째 로그', 'chrome'],
 ['로그#4', 'chrome'],
 ['로그#5', 'chrome'],
 ['로그#6', 'chrome'],
 ['로그#7', 'chrome'],
 ['로그#8', 'chrome'],
 ['로그#9', 'chrome']]

In [10]:
column_names = total_rows[0]
column_names

['mssage', 'browser']

In [11]:
total_rows[1:]

[['첫 로그', 'chrome'],
 ['두번째 로그', 'chrome'],
 ['세번째 로그', 'chrome'],
 ['로그#4', 'chrome'],
 ['로그#5', 'chrome'],
 ['로그#6', 'chrome'],
 ['로그#7', 'chrome'],
 ['로그#8', 'chrome'],
 ['로그#9', 'chrome']]

In [15]:
for row in total_rows[1:]:
    row_dict = dict(zip(column_names, row))
    print(row_dict)

{'mssage': '첫 로그', 'browser': 'chrome'}
{'mssage': '두번째 로그', 'browser': 'chrome'}
{'mssage': '세번째 로그', 'browser': 'chrome'}
{'mssage': '로그#4', 'browser': 'chrome'}
{'mssage': '로그#5', 'browser': 'chrome'}
{'mssage': '로그#6', 'browser': 'chrome'}
{'mssage': '로그#7', 'browser': 'chrome'}
{'mssage': '로그#8', 'browser': 'chrome'}
{'mssage': '로그#9', 'browser': 'chrome'}

In [19]:
#list comprehension
row_data=[
    dict(zip(column_names, row))
    for row in total_rows[1:]
]
row_data

[{'mssage': '첫 로그', 'browser': 'chrome'},
 {'mssage': '두번째 로그', 'browser': 'chrome'},
 {'mssage': '세번째 로그', 'browser': 'chrome'},
 {'mssage': '로그#4', 'browser': 'chrome'},
 {'mssage': '로그#5', 'browser': 'chrome'},
 {'mssage': '로그#6', 'browser': 'chrome'},
 {'mssage': '로그#7', 'browser': 'chrome'},
 {'mssage': '로그#8', 'browser': 'chrome'},
 {'mssage': '로그#9', 'browser': 'chrome'}]

In [23]:
def get_rows_data():
    total_rows = xlwings.Range("A1").expand().value
    column_names = total_rows[0]
    rows_data = [
        dict(zip(column_names, row))
        for row in total_rows[1:]
    ]
    return rows_data

get_rows_data()

[{'mssage': '첫 로그', 'browser': 'chrome'},
 {'mssage': '두번째 로그', 'browser': 'chrome'},
 {'mssage': '세번째 로그', 'browser': 'chrome'},
 {'mssage': '로그#4', 'browser': 'chrome'},
 {'mssage': '로그#5', 'browser': 'chrome'},
 {'mssage': '로그#6', 'browser': 'chrome'},
 {'mssage': '로그#7', 'browser': 'chrome'},
 {'mssage': '로그#8', 'browser': 'chrome'},
 {'mssage': '로그#9', 'browser': 'chrome'}]

# 데이터베이스

In [19]:
DATABASE={"host": "127.0.0.1",
         "user": "root",
         "password": "1234",
         "db":"myproj11_db",
         "charset":"utf8"}

In [20]:
import pymysql

connection = pymysql.connect(**DATABASE)
cursor = connection.cursor()
cursor.execute("SELECT * FROM log")
print(cursor.fetchall())
cursor.close()

()

# with절

In [21]:
import pymysql
from contextlib import contextmanager

@contextmanager
def db_cursor():
    connection = pymysql.connect(**DATABASE)
    cursor = connection.cursor()
    try:
        yield cursor
    finally:
        cursor.close()

In [22]:
with db_cursor() as cursor:
    cursor. execute("SELECT * FROM log")
    print(cursor. fetchall())

()

In [23]:
column_data = {'message': '첫 로그','broswer': 'chrome'}

with db_cursor() as cursor:
    for row_dict in get_rows_data():
        sql = "INSER INTO LOG(message,browser) VALUES(%s,%s)"
        cursor.execute(sql, row_dict)

NameError: name 'get_rows_data' is not defined

In [18]:
with db_cursor() as cursor:
    sql = "SELECT * FROM LOG"
    cursor. execute(sql)
#     while True:
#         row = cursor. fetchone()
#         print (row)
#         if row is None:
#             break
#         print(row)    
    for row in cursor :
        print(row)

NameError: name 'DATABASE' is not defined

In [27]:
with db_cursor() as cursor:
    log_id ='1'
    sql = "SELECT *FROM LOG WHERE id =" + str(log_id)
    cursor. execute(sql)
    for row in cursor:
        print(row)

(1, '첫 로그', 'chrome')

In [25]:
with db_cursor() as cursor:
    log_id =2
    sql = "SELECT *FROM LOG WHERE id =" + str(log_id)
    cursor. execute(sql)
    for row in cursor:
        print(row)

(2, '두번째 로그', 'chrome')

In [26]:
with db_cursor() as cursor:
    log_id 
    sql = "SELECT *FROM LOG WHERE id =" + str(log_id)
    cursor. execute(sql)
    for row in cursor:
        print(row)

(2, '두번째 로그', 'chrome')

In [28]:
with db_cursor() as cursor:
    log_id ='1'
    sql = "SELECT * FROM LOG WHERE id =" + str(log_id)
    sql = "SELECT * FROM LOG WHERE id = 1 or 1 --"
    cursor. execute(sql)
    for row in cursor:
        print(row)

(1, '첫 로그', 'chrome')
(2, '두번째 로그', 'chrome')
(3, '세 번째 로그', 'chrome')

In [50]:
with db_cursor() as cursor:
    log_id ='1 or 1'
   # sql = "SELECT * FROM LOG WHERE id =" + str(log_id)
    sql = "SELECT * FROM LOG WHERE id = %s"
    cursor. execute(sql, [log_id])
    for row in cursor:
        print(row)

(1, '첫 로그', 'chrome')

# 데이터 매핑의 예

In [37]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    rows_data = cursor.fetchall()
#     for row in cursor:
#         row[0]  #id
#         row[1]  #message
#         row[2]  #chrome
#         print(row)
rows_data

((1, '첫 로그', 'chrome'),
 (2, '두번째 로그', 'chrome'),
 (3, '세 번째 로그', 'chrome'),
 (4, '네 번째 로그', 'chrome'))

# dict으로의 변환

# namedtuple

In [38]:
rows_data

((1, '첫 로그', 'chrome'),
 (2, '두번째 로그', 'chrome'),
 (3, '세 번째 로그', 'chrome'),
 (4, '네 번째 로그', 'chrome'))

In [46]:
from collections import namedtuple

Log = namedtuple('Log','id message browser')
print(log[0])
print(log[1])
print(log[2])

1
첫 로그
chrome

In [40]:
(1, 'message','chrome')

(1, 'message', 'chrome')

In [43]:
Log(1, '첫 로그','chrome')

Log(id=1, message='첫 로그', browser='chrome')

In [45]:
log = Log(1, '첫 로그','chrome')
print(log[0])
print(log[1])
print(log[2])

1
첫 로그
chrome

In [47]:
log.id, log.message, log.browser

(1, '첫 로그', 'chrome')

In [48]:
with db_cursor() as cursor:
    cursor.execute("SELECT * FROM log")
    rows_data = [Log(*row)
                 for row in cursor.fetchall()]
rows_data

[Log(id=1, message='첫 로그', browser='chrome'),
 Log(id=2, message='두번째 로그', browser='chrome'),
 Log(id=3, message='세 번째 로그', browser='chrome'),
 Log(id=4, message='네 번째 로그', browser='chrome')]